@import "./variables.scss";
%modal{
  display: none;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:50%;
  overflow: auto;
}
%button_close{
  color: black;
  text-decoration: none;
  cursor: pointer;
}
%close{
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
%modal_content{
  background-color: #000000;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 20px;
}
%body{
  background-color: black;
  color: $body_color;
  font-family:$font_Oswald;
  margin:8px;
}
%bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}
%first_form{
  background-color: #000000;
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  padding: 20px;
  width:100%;
}
%second_form{
  background-color: #000000;
  border-radius: 20px;
  box-sizing: border-box;
  height: 600px;
  padding: 20px;
  width:100%;
}
%input{
  background-color: #363636;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
  &:focus ~ .cut,
&:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
  color: #dc2f55;
}
&:focus ~ .placeholder,
&:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
  color: #dc2f55;
}
&:focus ~ .cut1,
&:not(:placeholder-shown) ~ .cut1 {
  transform: translateY(8px);
}
}
%submit{
  background-color: #fa0202;
  border-radius: 12px;
  box-sizing: border-box;
  color: #eee;
  border: 0;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}
%placeholder{
  color: #ADADAD;
  font-family: $font_Oswald;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

%after_payment{
  font-family: $font_Oswald;
font-weight: 400;
font-size: 14px;
line-height: 21px;
text-align: center;
color: #ADADAD;
}
%cut{
  background-color: #000000;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}
%cut1{
  background-color: #000000;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 90px;
}
%button_first_taycan{
  font-family: $font_Oswald;
  border: none;
  color:white;
  padding:12px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 156px;
  height: 48px;
  border-radius: 40px;
  a{
    visibility: hidden;
  }
}

%points-menu{
  list-style: none;
      display: flex;
      align-items: center;
      li {
        float: left;
        margin-right: 5px;
        margin-left: 36px;
        list-style-type: none;
    
        &:first-child {
          margin-left: 0;
        }
    
        &:last-child {
          margin-right: 32px;
        }
    
        a {
          font-family: $font_Oswald;
          padding: 10px;
          font-weight: 250;
          display: block;
          text-decoration: none;
          color: $links;
          font-size: 14px;
          line-height: 21px;
          position: relative;
    
          &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 0%;
            content: ".";
            color: transparent;
            background: #dc0707;
            height: 1px;
            transition: all 0.5s;
          }
    
          &:hover:after {
            width: 100%;
          }
        }
      }
}
%nav-menu{
  justify-content: space-around;
  padding-top: 12px;
  height: 40px;
}
%active_before{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  content: ".";
  color: transparent;
  background: #dc0707;
  height: 1px;
}
%menu{
  justify-content: flex-end;
  align-items: center;
}